:root {
    --bs-red: #FF2828;
    --bs-green: #42DC34;
    --bs-gray: #605C5C;
    
    --bs-bg-green: #1A6713;
    --bs-bg-normal-gray: #36404D;
    --bs-bg-medium-gray: #161616;
    --bs-bg-dark-gray: #090A0B;
    --bs-bg-light-gray: #D5D5D5;
    --bs-bg-brand: radial-gradient(#1B1E22, #000000);

    --bs-shadow-red: 0 0 2rem 1rem rgba(255, 40, 40, .25);
    --bs-shadow-green: 0 0 2rem 1rem rgba(66, 220 52 .25);
}