@import "node_modules/bootstrap/scss/bootstrap";

@import "scss/base";
@import "scss/components";
@import "scss/variables";
@import "scss/pages/control";
@import "scss/pages/login";
@import "scss/pages/logs";
@import "scss/sections/about";
@import "scss/sections/contact";
@import "scss/sections/hero";
@import "scss/sections/navbar";
@import "scss/sections/tutorial";
@import "scss/utilities/animations";
@import "scss/utilities/responsive";