@import "tailwindcss";
@plugin "flowbite/plugin";

@theme {
  --color-orange: #FF2828;
  --color-green: #42DC34;
}

html { scroll-behavior: smooth; }

@layer components{
    .nav-link {
        @apply text-orange text-3xl font-bold block py-2 px-3 rounded  md:hover:bg-transparent md:border-0 md:p-0 md:dark:hover:bg-transparent relative;
    }
    .nav-link::after {
        @apply content-[''] bg-orange h-[3px] w-[0%] left-0 -bottom-[5px] rounded-xl absolute duration-300
    }
    .nav-link:hover::after, .nav-link.active::after {
        @apply w-full
    }
    .nav-links {
        @apply flex flex-col p-4 md:p-0 mt-4 font-medium border md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0
    }
    
}

@layer utilities {
    .section-bg {
       @apply bg-radial from-[#1B1E22] from-0% to-black
    }
}